# Deploy SSH (template para GitHub Actions)
DEPLOY_SSH_HOST=200.58.103.24
DEPLOY_SSH_USER=root
DEPLOY_SSH_PORT=5749
DEPLOY_REMOTE_DIR=/home/papelera/public_html
DEPLOY_HEALTHCHECK_URL=https://unionpapeleraplatense.com.ar/

# Cargar en GitHub Secret como bloque multilínea OpenSSH
DEPLOY_SSH_PRIVATE_KEY=CHANGE_ME_PRIVATE_KEY_OPENSSH

# Salida de: ssh-keyscan -T 5 -p 5749 200.58.103.24
DEPLOY_SSH_KNOWN_HOSTS='[200.58.103.24]:5749 ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCbZQ4fGLejq0GmLwr0UIQKdcKNYty4U4XDotdo5TrKL9+0gwfXUwmKArtNNIsm3TovKTW8jSu0hols/RV/58Qw1Qz0fTHIjVC3QHmAcLATbDfQ7//RX2W0B+NLzCDuKnDyn/uG/e9MXlHU4r+vhlTeKufHpJ0poBNl44IQoX03LmQKEl37akDVbYGPl0xo9pHcQzYzndKpQ7bJECVnEmK/lmhg1JkRA7ikS7kEVyq9N9dtiFS2Op3mc+u/LUO1KtrSMUtHmBS1XAKNxZw4B+fjCtHM2Z/kQbQDHR4E8reaBGTgHMUb/oHmD4eWJzWZCphGzMPTXbzlO8ZJ6pvlemEJUHRjwrnqnsPDBy/lpyE0TX2tzm2LjMmw1rxArQfzn4lvHElsaYQ8tIMKIAPBFUX/YjU79LXA2nU5V+TtQqZ8cNZ17+gz8s706k/Hfpho4TW1umYmxovSanwtj7IJkBf2wKT4job5Oyx/LhBFRtyJfmCA3iYyKmBypTpueI1sgrM=
[200.58.103.24]:5749 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBDRMr7iFR1EBBLYZoPd0D7voDGB5JFo+dtDiX+Pa0LukalJ062bityKhMlRe0pjiWaTcKisCDWyhigQL5yWRmBU=
[200.58.103.24]:5749 ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIA8Lxj8Jad++NrBz+OdNjQJwD9Il5/c0s7n6txRkQD4U'
