@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overscroll-behavior-x: none;
  }

  body {
    min-height: 100dvh;
    font-family: "Space Grotesk", sans-serif;
    overflow-x: hidden;
  }
}

@layer utilities {
  .glass-effect {
    background: rgba(16, 34, 22, 0.8);
    backdrop-filter: blur(12px);
  }
}
