@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100dvh;
    font-family: "Space Grotesk", sans-serif;
  }
}

@layer utilities {
  .glass-effect {
    background: rgba(16, 34, 22, 0.8);
    backdrop-filter: blur(12px);
  }
}
